<div class="custom-table-container">
  <table class="custom-table">
    <thead>
      <tr>
        <th *ngFor="let column of columns">
          {{ ('product.' + column) | translate }}
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of pagedData">
        <td *ngFor="let column of columns">
          <ng-container *ngIf="column === 'logo'; else defaultCell">
            <img [src]="element[column]" alt="logo" class="logo-img" />
          </ng-container>

          <ng-template #defaultCell>
            {{ element[column] }}
          </ng-template>
        </td>
        <td class="action-cell">
          <div class="dropdown-wrapper">
            <button class="action-button" (click)="toggleDropdown(element)">
              &#x22EE;
            </button>
            <ul *ngIf="dropdownOpen === element" class="dropdown-menu">
              <li (click)="onEdit(element)">✏️ {{'buttons.edit' | translate}}</li>
              <li (click)="onDelete(element)">❌  {{ 'buttons.delete' | translate }}</li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination-controls">
    <label for="itemsPerPage" class="items-label">
      {{ 'common.itemsPerPage' | translate }}:
    </label>
    <select id="itemsPerPage" [(ngModel)]="pageSize" (change)="onPageSizeChange()">
      <option [value]="5">5</option>
      <option [value]="10">10</option>
      <option [value]="20">20</option>
    </select>
  
    <button (click)="prevPage()" [disabled]="currentPage === 0">«</button>
    <span>{{ currentPage + 1 }} / {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">»</button>
  </div>
  
</div>
