<div *ngIf="message" [ngClass]="['alert', messageType]">
  {{ message }}
</div>
<div *ngIf="!message" class="form-card">
  <h2 class="form-title">
    {{ isNew ? ('form.title.new' | translate) : ('form.title.edit' | translate) }}
  </h2>
  <hr class="form-divider" />

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
    <div class="form-row">
      <!-- ID -->
      <div class="form-field">
        <label>{{ 'form.fields.id' | translate }}</label>
        <input type="text" formControlName="id" (blur)="onIdBlur()"/>
        <div class="error" *ngIf="form.get('id')?.touched && form.get('id')?.errors">
          <div *ngIf="form.get('id')?.hasError('required')">{{ 'form.errors.idRequired' | translate }}</div>
          <div *ngIf="form.get('id')?.hasError('minlength')">{{ 'form.errors.idMin' | translate }}</div>
          <div *ngIf="form.get('id')?.hasError('maxlength')">{{ 'form.errors.idMax' | translate }}</div>
          <div *ngIf="form.get('id')?.hasError('idTaken')">{{ 'form.errors.idTaken' | translate }}</div>
        </div>
      </div>

      <!-- Nombre -->
      <div class="form-field">
        <label>{{ 'form.fields.name' | translate }}</label>
        <input type="text" formControlName="name" />
        <div class="error" *ngIf="form.get('name')?.touched && form.get('name')?.errors">
          <div *ngIf="form.get('name')?.hasError('required')">{{ 'form.errors.nameRequired' | translate }}</div>
          <div *ngIf="form.get('name')?.hasError('minlength')">{{ 'form.errors.nameMin' | translate }}</div>
          <div *ngIf="form.get('name')?.hasError('maxlength')">{{ 'form.errors.nameMax' | translate }}</div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <!-- Descripción -->
      <div class="form-field">
        <label>{{ 'form.fields.description' | translate }}</label>
        <textarea formControlName="description"></textarea>
        <div class="error" *ngIf="form.get('description')?.touched && form.get('description')?.errors">
          <div *ngIf="form.get('description')?.hasError('required')">{{ 'form.errors.descriptionRequired' | translate }}</div>
          <div *ngIf="form.get('description')?.hasError('minlength')">{{ 'form.errors.descriptionMin' | translate }}</div>
          <div *ngIf="form.get('description')?.hasError('maxlength')">{{ 'form.errors.descriptionMax' | translate }}</div>
        </div>
      </div>

      <!-- Logo -->
      <div class="form-field">
        <label>{{ 'form.fields.logo' | translate }}</label>
        <input type="text" formControlName="logo" />
        <div class="error" *ngIf="form.get('logo')?.touched && form.get('logo')?.errors">
          <div *ngIf="form.get('logo')?.hasError('required')">{{ 'form.errors.logoRequired' | translate }}</div>
          <div *ngIf="form.get('logo')?.hasError('pattern')">{{ 'form.errors.logoPattern' | translate }}</div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <!-- Fecha liberación -->
      <div class="form-field">
        <label>{{ 'form.fields.dateRelease' | translate }}</label>
        <input
          *ngIf="!isNew"
          type="text"
          [value]="form.get('date_release')?.value | date:'MM/dd/yyyy'"
          disabled
        />
        <input *ngIf ="isNew" type="date" formControlName="date_release" [min]="today | date:'yyyy-MM-dd'"/>
        <div class="error" *ngIf="form.get('date_release')?.touched && form.get('date_release')?.errors">
          <div *ngIf="form.get('date_release')?.hasError('required')">{{ 'form.errors.dateReleaseRequired' | translate }}</div>
          <div *ngIf="form.get('date_release')?.hasError('minDate')">{{ 'form.errors.minDate' | translate }}</div>
        </div>
      </div>

      <!-- Fecha revisión -->
      <div class="form-field">
        <label>{{ 'form.fields.dateRevision' | translate }}</label>        
        <input        
          type="text"
          [value]="form.get('date_revision')?.value | date:'MM/dd/yyyy'"
          disabled
        />
      </div>
    </div>

    <div class="button-group">
      <button *ngIf="isNew" type="button" (click)="onReset()">
        {{ 'buttons.reset' | translate }}
      </button>
      <button type="submit" [disabled]="form.invalid">
        {{ isNew ? ('buttons.add' | translate) : ('buttons.update' | translate) }}
      </button>
      <button type="button" (click)="onCancel()">
        {{ 'buttons.cancel' | translate }}
      </button>
    </div>
  </form>
</div>