<ng-container *ngIf="!loading && !error; else loadingOrError">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="search-field">        
          <input
            id="search"
            type="text"
            [(ngModel)]="filterValue"
            (ngModelChange)="onSearchChange()"
            [placeholder]="'common.search' | translate"
          />
        </div>
      </div>
      <div class="col-4">
        <button class="fab-button main-button" (click)="goToEdit()">
          <span class="label-text">{{ 'buttons.add' | translate }}</span>
          <span class="icon-text">+</span>
        </button>
      </div>
    </div>
  </div>

  <!-- Tabla de datos -->
  <app-data-table
    [data]="filteredProducts"
    [columns]="columns"
    (edit)="goToEdit($event)"
    (delete)="onDelete($event)">
  </app-data-table>
</ng-container>

<!-- Cargando o error -->
<ng-template #loadingOrError>
  <div *ngIf="loading" class="loading-container">
    <div class="spinner"></div>
    <p>{{ 'common.loading' | translate }}</p>
  </div>

  <div *ngIf="!loading && error" class="error-container">
    <div class="error-icon">⚠️</div>
    <p>{{ 'common.error' | translate }}</p>
  </div>
</ng-template>